h1 {
  font-family: sans-serif;
  color: #9f0dbf;
}

body {
  font-family: sans-serif;
  background-color: turquoise;
  font-size: 2em;
}

input[type=number] {
  width: 5%;
  padding: 10px 8px;
  margin: 8px 0;
  font-size: 1em;
}

div.question {
  float: left;
  margin-right: 7px;
}

.clearBoth {
  clear:both;
}
